.mazalTov{
    color: rgb(197 162 96);
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 33px;
}

.h3-mazalTov{
    margin-top: -25px;
    font-size: 20px;
}

.bigDivType{
    // width:100%;
    // margin:65px;
    padding: 60px;
   // margin-left: -314px;
} 


.containers{
    width: 25%;
    //border: 2px solid #cfae8d;
    border-radius: 6px;
    margin: 0px auto;
    padding: 30px;
}



//מנהל
// .row{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }




