.menuName{
    color: #9b851b;
    font-size: 47px;
}

.menuPrice{
color: black;
font-size: 20px;
padding: 20px;
margin-top: -17px;

}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    color:black !important;
    background-color: #9b851b !important;
}

.foodAndAmount{
    color: black;
    padding: 10px;
    font-family: initial;
    font-size: 20px;
}



hr{
    width: 100%;
}
