.h2-reco{
  font-size: 42px;
  padding: 31px;
}

.hr-reco{
  color: #7f7f29;
  width: 50%;
  margin: 0px auto;
}

.star{
  color:#dbb317 !important;
  margin-top: -27px;
}


.div-one-reco{
  display: inline-block;
  padding: 10px;
  border: 1px solid gray;
  margin: 8px;
}

// .css-i4bv87-MuiSvgIcon-root{
// background-color: #7f7f29;
// }


#star{
  height:50px;
}
#bigDiv{
  display: inline-block;
}
.css-i4bv87-MuiSvgIcon-root{
  width: 2em !important;
    height: 2em !important;
}
.divvvvvvvv{
  display: block;
}
img{
  display:block;
  width:30%
}