 //-----1
 .divHomeImage {
  
    height:100vh;
    background-image:url("../../public/images/HomeImage.jpg");
    background-repeat: no-repeat;
    // height: 984px;
    background-size: 100% 100%;
    opacity: 0.9;
    z-index: -1;
 }
// #HomeImage{
//      height: 935px;
//     width: 100%;
//      opacity: 0.9;
//  z-index: -1;
//  //position: absolute;
//  left: 0px;
//   top: 0px;
//  }

.second-title{
    color:rgb(142, 110, 51);
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    font-size:60px;
    // padding-top: 700px;
}

//----2

// .box{
//     //background-color:black;
//     padding:30%;
//     margin:25px;
//     //width:100%;
//     //height:120px; 
//     height:90px;
//     display:inline-block;
//     color:rgb(142, 110, 51);
//     text-decoration: none;
//     font-size: 25px;
//     font-weight: bold;

// }
// .box:hover{
//     opacity: 0.8;
// }
.divallEvent{
    display:inline-block;
    padding:32px;
    width:30%;
    margin-top: 100px;
}

// a{
//     text-decoration: none; 
//     color:"#"
// }


