.box{
    background-color:black;
    padding: 10px;
    margin:5px;
    width:25%;
    height:120px;
    display:inline-block;
    color:wheat;
    background-image: "סלומון אפוי.webp";
    background-image: "../public/images/סלומון אפוי.webp";
    text-decoration: none;
}
a{
    text-decoration: none; 
}
.homePage{
    //cover top-banner d-flex align-items-center center p-0
    // background-size: cover;
    // display: flex;
    // align-items: center;
    // padding: 0;
    
}