body {
  text-align: center;
  direction: rtl;

}
.div-nav{
  height:50px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  //background-color: #bf9000;
  background-color:black;
  text-align: center;
}

li {
  //float: left;
  //float: right;
  text-align: center;
  display:inline-block;
  font-family:'Times New Roman', Times, serif;
 // font-size:25px;
}

li a
 {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:20px;
}

li a:hover {
  color: #bf9000;
}

#logoImage{

  height: 50px;
  width: 150px;
  float: right;
  
}
#prophil{
  float:left;
  width: 60px;
}