body {
  text-align: center;
  direction: rtl;

}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  height: 100%;
}
.div-nav{
  height:100%;
}
.nav-bar{
  height:100%;
}

.div-nav ul {
  background-color:black;
  height:100%;
}

#logoImage{

  height: 100%;
  width: 240px;
  float: right;
  
}

.nav-bar li {
  text-align: center;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  /* width: 123px; */
  margin: 10px;
}

.nav-bar li a
 {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:32px;
}

.nav-bar li a:hover {
  color: #bf9000;
}

#prophil{
  float: left;
  width: 120px;
  height: 100%;
 
}